#grad1 {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red ,yellow);
}

#grad2 {
  height: 100px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(180deg, red, yellow);
}
#grad3 {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: repeating-linear-gradient(90deg,red,yellow 7%,green 10%);
}
#grad4 {
  height: 150px;
  width: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: radial-gradient(red, yellow, green);
}
#grad5 {
  height: 150px;
  width: 200px;
  background-image: radial-gradient(circle, red, yellow, green);
}
#grad6 {
  height: 150px;
  width: 200px;
  background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
}
#grad7 {
  height: 200px;
  width: 200px;
  background-image: conic-gradient(red, yellow, green);
}
#grad8 {
  height: 200px;
  width: 200px;
  background-image: conic-gradient(red 45deg, yellow 90deg, green 210deg);
}
#grad9 {
  height: 200px;
  width: 200px;
  background-image: conic-gradient(red, yellow, green, blue, black);
  border-radius: 50%;
}
#grad10 {
  height: 200px;
  width: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: repeating-conic-gradient(red 0deg 10deg, yellow 10deg 20deg, blue 20deg 30deg);
  border-radius: 50%;
}