#p1 {
  background-color: rgba(255, 0, 0, 0.3);
}

#p2 {
  background-color: hsl(120, 100%, 75%);
}

#p3 {
  background-color: hsla(290, 100%, 50%, 0.3);
}

#p4 {
  background-color: rgb(192, 192, 192);
  opacity: 0.6;
}