#test1 {
   width: 300px;
   height: 100px;
   background-color: yellow;
   border: 1px solid black;
   transform: translate(50px,100px);
 }
#test2 {
   width: 300px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
   transform: rotate(20deg);
 }