div {
   width: 100px;
   height: 100px;
   background: red;
   transition-property: width;
   transition-duration: 2s;
   transition-timing-function: linear;
   transition-delay: 1s;
 }
 
 div:hover {
   width: 300px;
 }