#r1 {
   border-radius: 25px;
   background-color: aqua;
   padding: 20px;
   width: 200px;
   height: 150px;
}

#r2 {
   border-radius: 25px;
   border: 2px solid black;
   background-color: aliceblue;
   padding: 20xp;
   width: 200px;
   height: 150px;
}
#r3{
   border-radius: 25px/8px;
   background-color: orange;
   padding: 20xp;
   width: 200px;
   height: 150px;
}
#r4{
   border-radius: 25px 15px 40px 2px;
   background-color: red;
   padding: 20px;
   width: 200px;
   height: 150px;
}