#border-img{
   width: 300px;
   height: 300px;
   border: 20px solid greenyellow;
   font-size: 16px;
   padding: 20px;
   background-color: pink;
   /* border-image-source: url(border.png);
   border-image-slice: 30;
   border-image-repeat: repeat round;
   border-image-width: 20px;
   border-image-outset:30px; */
   border-image: url(border.png) 30 repeat;
}